input{
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
}
select{
    padding: 10px;
    margin: 10px;
}
label{
    color: blue;
    font-family: Garamond, serif;
    font-size: large;
    font-weight: 800;
}