<div align="center">
    <h1>Products</h1>
    <table align="center">
        <th>Product Name</th>
        <th>Price</th>
        <tr *ngFor="let products of prodList; let i = index">
            <td>{{products.name}}</td>
            <td>{{products.price}}</td>
            <td><img [src]="products.imagePath"></td>
            <td>
                <div *ngIf="isAdmin">
                    <button (click)="delete(i)" class="btn btn-danger">Delete</button>
                </div>
                <div *ngIf="!isAdmin">
                    <button class="btn btn-danger" disabled>Delete</button>
                </div>
            </td>
        </tr>
    </table>
</div>