<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand">E-Commerce Website</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="products">Products</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="users">Users</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="customers">Customers</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="inventory">Inventory</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="signup">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="cart">Cart</a></li>
        </ul>
    </div>
</nav>